.about-banner {
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 10%);
}

.white-banner {
    background-color: #ffffff;
}

.blue-gradient {
    background: #74b6ff;
    background: linear-gradient( 45deg, #74b6ff, #007aff);
}

.text-white {
    color: #fff!important;
}

.sign-btn-padding {
    padding: 8px 30px;
}

.child-text-color, .thum-icon .fa-thumbs-up:before {
    color: #ababab;
}